<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileCreator.Properties.Settings>
            <setting name="SolutionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCasesPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WebPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FunctionalTestPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UnitTestPath" serializeAs="String">
                <value />
            </setting>
        </FileCreator.Properties.Settings>
    </userSettings>
</configuration>